@using Microsoft.AspNetCore.Mvc.TagHelpers
@model DAL.Models.ChangePasswordModel
@{
    ViewData["Title"] = "Slaptažodžio keitimas";
}

<link rel="stylesheet" href="~/css/Breadcrumbs/breadcrumbs.css" />
<link rel="stylesheet" href="~/css/Profile/profile.css" />


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Pradžia</a></li>
        <li class="breadcrumb-item active" aria-current="page">Profilis</li>
    </ol>
</nav>

<div class="profile-container">

    <div class="profile-side-panel">
        <div class="side-panel">
            <a asp-controller="Profile" asp-action="Index" asp-route-tab="my-profile">
                <button type="button" id="profile_link">Mano Profilis</button>
            </a>
            <a asp-controller="Profile" asp-action="Index" asp-route-tab="my-orders">
                <button type="button" id="orders_link">Mano užsakymai</button>
            </a>
            <a asp-controller="Profile" asp-action="Index" asp-route-tab="change-password">
                <button type="button" id="password_link" style="background-color: #9c142d; color: white;">Slaptažodžio keitimas</button>
            </a>
            <a asp-controller="Profile" asp-action="Index" asp-route-tab="remove-profile">
                <button type="button" id="delete_link">Pašalinti paskyrą</button>
            </a>
            <a href="/profile/logout"> <button type="button" id="logout_link">Atsijungti</button></a>

        </div>
    </div>

    <div class="profile-content-panel">
        <div class="profile-content">
            <h1>Slaptažodžio keitimas</h1>
            <form class="profile-form" action="/profile/change-password" method="post">
                    @Html.AntiForgeryToken()

                    <div class="form-field">
                    <input class="form-input" id="OldPassword" name="OldPassword" type="text" placeholder="Senas slaptažodis" required />
                        <label for="OldPassword" class="form-label">Senas slapažodis</label>
                    </div>
                    <div class="form-field">
                        <label class="form-label">Naujas slapažodis</label>
                    <input class="form-input" id="NewPassword" name="NewPassword" type="text" placeholder="Naujas slaptažodis" required />
                    </div>
                    <div class="form-field">
                        <label class="form-label">Pakartokite naują slapažodį</label>
                    <input class="form-input" name="NewPassword2" type="text" placeholder="Pakartokite naują slaptažodį" required />
                    </div>
                     <div class="error">@Html.ValidationMessageFor(x => x.NewPassword)</div>
                    
                    @if (TempData["SuccessMessage"] != null)
                    {
                        <div class="successMessage">@TempData["SuccessMessage"]</div>
                    }
                    @if (TempData["ErrorMessage"] != null)
                    {
                        <div class="error">@TempData["ErrorMessage"]</div>
                    }


                    <button class="form-button">Išsaugoti</button>
                </form>
            </div>
        </div>
    </div>

    

<script src="~/js/InvalidComponents.js"></script>