@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link rel="stylesheet" href="~/css/Admin/HomePage/adminHome.css" />

<div class="home-page-container-admin">
    <label> Kokią funkciją norite atlikti</label>

    <div class="home-page-admin-select">
        <div href="/admin/produktai" >
            <a href="/admin/produktai" class="product-crud-admin" style="text-decoration: none; color: black;">
                <img src="~/Images/A_Admin/HomePageIcons/produktas.png" />
                <label>Produktai</label>
            </a>
        </div>

        <div href="/admin/reklamos">
            <a href="/admin/reklamos" class="promo-crud-admin" style="text-decoration: none; color: black;">
                <img src="~/Images/A_Admin/HomePageIcons/reklama.png" />
                <label>Reklamos</label>
            </a>
        </div>

        <div href="/admin/uzsakymai">
            <a href="/admin/uzsakymai" class="order-crud-admin" style="text-decoration: none; color: black;">
                <img src="~/Images/A_Admin/HomePageIcons/uzsakymas.png" />
                <label>Užsakymai</label>
            </a>
        </div>

        <div href="/admin/productTables">
            <a href="/admin/productTables" class="order-crud-admin" style="text-decoration: none; color: black;">
                <img src="~/Images/A_Admin/HomePageIcons/productTable.png" />
                <label>Produktų lentelės</label>
            </a>
        </div>

        <div href="/admin/orderItems">
            <a href="/admin/orderItems" class="order-crud-admin" style="text-decoration: none; color: black;">
                <img src="~/Images/A_Admin/HomePageIcons/orderItems.png" />
                <label>Užsakymo produktai</label>
            </a>
        </div>
    </div>
</div>