
 <link rel="stylesheet" href="~/css/OffCanva/offCanva.css" asp-append-version="true" />

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offCanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" >Produktų katalogas</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close" style="color: white"></button>
    </div>
    <div class="offcanvas-body">
        <div class="flex-column">
            <!-- ŠILUMOS SIURBLIAI Section -->
            <a class="nav-link-custom active" >ŠILUMOS SIURBLIAI</a>
            <a class="nav-link-custom" href="/series/type/geoterminiai">Geoterminiai</a>
            <a class="nav-link-custom" href="/series/type/oras-vanduo">Oras-vanduo</a>
            <a class="nav-link-custom" href="/series/type/oras-oras">Oras-oras</a>
            <a class="nav-link-custom" href="/series/type/iranga">Šilumos siurblių įranga</a>
            <!-- REKUPERACIJA Section -->
            <a class="nav-link-custom active" href="#">REKUPERACIJA</a>
            <a class="nav-link-custom" href="/series/type/rekuperatoriai">Rekuperatoriai</a>
            <a class="nav-link-custom" href="/series/type/rekuperatoriai-drekintuvai">Rekuperatorių drėkintuvai</a>
            <a class="nav-link-custom" href="/series/type/difuzoriai">Difuzoriai</a>
            <a class="nav-link-custom" href="/series/type/rekuperatoriu-iranga">Rekuperatorių įranga</a>
            <!-- More sections as needed -->
        </div>
    </div>
</div>
 