.section-button {
    background-color: #cb1a3b;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-decoration: none;
}

.section-button:hover {
    background-color: #a83250; 
    color: white;
}

.series-button{
    border: none;
    background-color: white;
}

.series-button:hover  {
    color: white;
    background-color: #9d152e;
    border-radius: 10px;
}