@model RegisterViewModel

@{
    ViewData["Title"] = "Tuscias krepselis";
}

<link rel="stylesheet" href="~/css/shoppingCart/emptyCart.css" />

<h class="empty-cart">Jūsų krepšelis yra tuščias -<a href="/"> Grižti</a></h>