@model bool

@{
    ViewData["Title"] = "Apie_Mus";
}

<link rel="stylesheet" href="~/css/Footer/footer.css" />

<link rel="stylesheet" href="~/css/Forms/forms.css" />

<link rel="stylesheet" href="~/css/NavBar/miniNavBars.css" />
<link rel="stylesheet" href="~/css/NavBar/navBar.css" />
<link rel="stylesheet" href="~/css/NavBar/navBarDropdown.css" />

<link rel="stylesheet" href="~/css/OffCanva/offCanva.css" />

<link rel="stylesheet" href="~/css/PromoSlide/promoSlide.css" />

<link rel="stylesheet" href="~/css/Sections/sectionBoxes.css" />
<link rel="stylesheet" href="~/css/Sections/sectionsButtons.css" />
<link rel="stylesheet" href="~/css/Sections/sectionsOverflow.css" />
<link rel="stylesheet" href="~/css/Sections/sectionsPhoto.css" />
<link rel="stylesheet" href="~/css/Sections/sectionsText.css" />

@await Html.PartialAsync("offCanvaNavBar")

    <div class="row">
        <div class="section-container-text">
            <div class="section-box-brand-text">
                <h2 style="margin-top: 50px; margin-bottom: 40px;">Apie Mus</h2>
                <p>
                    2024 m. veiklą pradėjusi internetinė parduotuvė EURO KATILAI
                    daugiausia dėmesio skiria klientų poreikiams tenkinti,
                    ilgalaikiam bendradarbiavimui palaikyti, savo konsultacija
                    klientams suteikti patarimus bei rekomendacijas.
                </p>
                <p>
                    Prekiaujame tik aukštos kokybės gaminiais iš gamintojų, kurie
                    buvo išbandyti per ilgą laiką, yra žinomi visame pasaulyje,
                    įgiję pasitikėjimą ir pelnę daug gerų atsiliepimų bei apdovanojimų.
                </p>
                <p>
                    Jei susidomėjote, nedvejodami kreipkitės į mus. Siūlome geriausius
                    sprendimus ir kainas rinkoje.
                </p>
            </div>
        </div>
    </div>
