@model bool

@{

    ViewData["Title"] = "Produktu_Katalogas";
}

<link rel="stylesheet" href="~/css/Footer/footer.css" />

<link rel="stylesheet" href="~/css/Forms/forms.css" />

<link rel="stylesheet" href="~/css/NavBar/miniNavBars.css" />
<link rel="stylesheet" href="~/css/NavBar/navBar.css" />
<link rel="stylesheet" href="~/css/NavBar/navBarDropdown.css" />

<link rel="stylesheet" href="~/css/OffCanva/offCanva.css" />

<link rel="stylesheet" href="~/css/PromoSlide/promoSlide.css" />

<link rel="stylesheet" href="~/css/Sections/sectionBoxes.css" />
<link rel="stylesheet" href="~/css/Sections/sectionsButtons.css" />
<link rel="stylesheet" href="~/css/Sections/sectionsOverflow.css" />
<link rel="stylesheet" href="~/css/Sections/sectionsPhoto.css" />
<link rel="stylesheet" href="~/css/Sections/sectionsText.css" />

<link rel="stylesheet" href="~/css/Breadcrumbs/breadcrumbs.css" />

@await Html.PartialAsync("offCanvaNavBar")

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Pradžia</a></li>
        <li class="breadcrumb-item active" aria-current="page">Geoterminiai šilumos siurbliai</li>
    </ol>
</nav>

<div class="section-container-text section-bg">
    <div class="section-box-brand-text spanning-box">
        <h2>Geoterminiai šilumos siurbliai</h2>
    </div>
</div>

<div class="row">
    <div class="section-container-product-photo">
        <img src="~/Images/LaikinasKatilas.png" alt="Altera WZS 1">
    </div>
    <div class="section-container-text">
        <div class="section-box-brand-text">
            <h2>Altera WZS</h2>
            <p>
                Trumpas produkto aprašymas
            </p>
            <button class="section-button">Pasirinkti galingumą</button>
        </div>
    </div>
</div>


<div class="row">
    <div class="section-container-text">
        <div class="section-container-text">
            <div class="section-box-brand-text">
                <h2>Altera WZS 1</h2>
                <p>
                    Trumpas produkto aprašymas
                </p>
                <button class="section-button">Pasirinkti galingumą</button>
            </div>
        </div>
    </div>
    <div class="section-container-product-photo">
        <img src="~/Images/LaikinasKatilas.png" alt="Altera WZS 1">
    </div>
</div>


<div class="row">
    <div class="section-container-product-photo">
        <img src="~/Images/LaikinasKatilas.png" alt="Altera WZS 1">
    </div>
    <div class="section-container-text">
        <div class="section-box-brand-text">
            <h2>Altera WZS</h2>
            <p>
                Trumpas produkto aprašymas
            </p>
            <button class="section-button">Pasirinkti galingumą</button>
        </div>
    </div>
</div>


<div class="row">
    <div class="section-container-text">
        <div class="section-container-text">
            <div class="section-box-brand-text">
                <h2>Altera WZS 1</h2>
                <p>
                    Trumpas produkto aprašymas
                </p>
                <button class="section-button">Pasirinkti galingumą</button>
            </div>
        </div>
    </div>
    <div class="section-container-product-photo">
        <img src="~/Images/LaikinasKatilas.png" alt="Altera WZS 1">
    </div>
</div>